pipeline {
    agent any

    tools {
        maven "maven 3.9.5"
        jdk 'jdk-21.0.2'
    }

    stages {
        stage('GitHub Clone') {
            steps {
                git credentialsId: 'ihwgm',
                    url: 'https://git.syscuss.com:3001/ihwgm/BE_New_WiseAd_SYSCUSS.git',
                    branch: 'dev'
            }
        }

        stage('Build') {
            steps {
                // maven-install-plugin이 initialize 단계에서 외부 JAR(libs/) 자동 설치
                bat 'mvn clean install -Dspring.profiles.active=dev -DskipTests'
            }
        }

        stage('Deploy') {
            steps {
                bat 'java -jar -Dspring.profiles.active=dev -Dserver.port=8100 target/wisead-0.0.1-SNAPSHOT.jar'
            }
        }
    }
}