<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wisead.mapper.sms.PeriodStatisticsMapper">

    <!-- 일별 통계 조회 (msg_result_YYYYMM 테이블) -->
    <select id="countOneDayStats" resultType="kr.wisead.domain.statistics.dto.DailyStatsResponse">
        SELECT
            #{date} AS dtStats,
            COUNT(*) AS inCnt,
            IFNULL(SUM(CASE WHEN RESULT IN ('0', '1000') THEN 1 ELSE 0 END), 0) AS succCnt,
            IFNULL(SUM(CASE WHEN RESULT IN ('9999', '-1') THEN 1 ELSE 0 END), 0) AS errorCnt,
            IFNULL(SUM(CASE WHEN RESULT NOT IN ('0', '1000', '9999', '-1', '') AND RESULT IS NOT NULL THEN 1 ELSE 0 END), 0) AS failCnt,
            0 AS ingCnt,
            0 AS waitCnt
        FROM ${tableName}
        <where>
            DATE(SAVE_TIME) = #{date}
            <if test="userId != null and userId != ''">
                AND EXT_COL3 = #{userId}
            </if>
            <if test="userIds != null and userIds.size() > 0">
                AND EXT_COL3 IN
                <foreach collection="userIds" item="uid" open="(" separator="," close=")">
                    #{uid}
                </foreach>
            </if>
            <if test="msgType != null and msgType != ''">
                AND MSG_TYPE = #{msgType}
            </if>
            <if test="serviceType != null and serviceType != ''">
                <choose>
                    <when test='"M".equals(serviceType)'>
                        AND (EXT_COL0 IS NULL OR EXT_COL0 = 0)
                    </when>
                    <otherwise>
                        AND EXT_COL0 IS NOT NULL AND EXT_COL0 != 0
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <!-- 대기 건수 조회 (msg_queue 테이블 - 예약 발송) -->
    <select id="countWaitStats" resultType="int">
        SELECT COUNT(*)
        FROM msg_queue
        <where>
            STAT = '0'
            AND DATE(REQUEST_TIME) = #{date}
            AND REQUEST_TIME > NOW()
            <if test="userId != null and userId != ''">
                AND EXT_COL3 = #{userId}
            </if>
            <if test="userIds != null and userIds.size() > 0">
                AND EXT_COL3 IN
                <foreach collection="userIds" item="uid" open="(" separator="," close=")">
                    #{uid}
                </foreach>
            </if>
            <if test="msgType != null and msgType != ''">
                AND MSG_TYPE = #{msgType}
            </if>
            <if test="serviceType != null and serviceType != ''">
                <choose>
                    <when test='"M".equals(serviceType)'>
                        AND (EXT_COL0 IS NULL OR EXT_COL0 = 0)
                    </when>
                    <otherwise>
                        AND EXT_COL0 IS NOT NULL AND EXT_COL0 != 0
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <!-- 진행중 건수 조회 (msg_queue 테이블 - 발송 진행중) -->
    <select id="countInProgressStats" resultType="int">
        SELECT COUNT(*)
        FROM msg_queue
        <where>
            STAT IN ('1', '2')
            AND DATE(REQUEST_TIME) = #{date}
            AND REQUEST_TIME <![CDATA[<=]]> NOW()
            <if test="userId != null and userId != ''">
                AND EXT_COL3 = #{userId}
            </if>
            <if test="userIds != null and userIds.size() > 0">
                AND EXT_COL3 IN
                <foreach collection="userIds" item="uid" open="(" separator="," close=")">
                    #{uid}
                </foreach>
            </if>
            <if test="msgType != null and msgType != ''">
                AND MSG_TYPE = #{msgType}
            </if>
            <if test="serviceType != null and serviceType != ''">
                <choose>
                    <when test='"M".equals(serviceType)'>
                        AND (EXT_COL0 IS NULL OR EXT_COL0 = 0)
                    </when>
                    <otherwise>
                        AND EXT_COL0 IS NOT NULL AND EXT_COL0 != 0
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

</mapper>
