<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wisead.mapper.sms.UserStatisticsMapper">

    <!-- 사용자별 메시지 통계 조회 (일반 메시지) -->
    <select id="selectMsgStats" resultType="kr.wisead.domain.statistics.dto.UserMsgStatsResponse">
        SELECT
            t.userId,
            SUM(CASE WHEN t.msgType = 'S' THEN 1 ELSE 0 END) AS smsTotal,
            SUM(CASE WHEN t.msgType = 'S' AND t.isSucc = 1 THEN 1 ELSE 0 END) AS smsSucc,
            SUM(CASE WHEN t.msgType = 'L' THEN 1 ELSE 0 END) AS lmsTotal,
            SUM(CASE WHEN t.msgType = 'L' AND t.isSucc = 1 THEN 1 ELSE 0 END) AS lmsSucc,
            SUM(CASE WHEN t.msgType = 'M' THEN 1 ELSE 0 END) AS mmsTotal,
            SUM(CASE WHEN t.msgType = 'M' AND t.isSucc = 1 THEN 1 ELSE 0 END) AS mmsSucc
        FROM (
            <foreach collection="tables" item="tbl" separator=" UNION ALL ">
                SELECT
                    <choose>
                        <when test="tbl == 'msg_queue'">
                            EXT_COL3 AS userId,
                            MSG_TYPE AS msgType,
                            0 AS isSucc
                        </when>
                        <otherwise>
                            EXT_COL3 AS userId,
                            MSG_TYPE AS msgType,
                            CASE WHEN RESULT = '0' OR RESULT = '1000' THEN 1 ELSE 0 END AS isSucc
                        </otherwise>
                    </choose>
                FROM ${tbl}
                WHERE (EXT_COL0 IS NULL OR EXT_COL0 = '')
                <if test="startDate != null and startDate != ''">
                    <choose>
                        <when test="tbl == 'msg_queue'">
                            AND REQUEST_TIME <![CDATA[>=]]> #{startDate}
                        </when>
                        <otherwise>
                            AND SAVE_TIME <![CDATA[>=]]> #{startDate}
                        </otherwise>
                    </choose>
                </if>
                <if test="endDate != null and endDate != ''">
                    <choose>
                        <when test="tbl == 'msg_queue'">
                            AND REQUEST_TIME <![CDATA[<]]> DATE_ADD(#{endDate}, INTERVAL 1 DAY)
                        </when>
                        <otherwise>
                            AND SAVE_TIME <![CDATA[<]]> DATE_ADD(#{endDate}, INTERVAL 1 DAY)
                        </otherwise>
                    </choose>
                </if>
                <if test="userId != null and userId != ''">
                    AND EXT_COL3 = #{userId}
                </if>
                <if test="userIds != null and userIds.size() > 0">
                    AND EXT_COL3 IN
                    <foreach collection="userIds" item="uid" open="(" separator="," close=")">
                        #{uid}
                    </foreach>
                </if>
            </foreach>
        ) t
        GROUP BY t.userId
        ORDER BY t.userId
    </select>

    <!-- 사용자별 설문 통계 조회 -->
    <select id="selectSurveyStats" resultType="kr.wisead.domain.statistics.dto.UserSurveyStatsResponse">
        SELECT
            t.userId,
            COUNT(*) AS surveyTotal,
            SUM(t.isSucc) AS surveySucc
        FROM (
            <foreach collection="tables" item="tbl" separator=" UNION ALL ">
                SELECT
                    <choose>
                        <when test="tbl == 'msg_queue'">
                            EXT_COL3 AS userId,
                            0 AS isSucc
                        </when>
                        <otherwise>
                            EXT_COL3 AS userId,
                            CASE WHEN RESULT = '0' OR RESULT = '1000' THEN 1 ELSE 0 END AS isSucc
                        </otherwise>
                    </choose>
                FROM ${tbl}
                WHERE EXT_COL0 IS NOT NULL AND EXT_COL0 != ''
                <if test="startDate != null and startDate != ''">
                    <choose>
                        <when test="tbl == 'msg_queue'">
                            AND REQUEST_TIME <![CDATA[>=]]> #{startDate}
                        </when>
                        <otherwise>
                            AND SAVE_TIME <![CDATA[>=]]> #{startDate}
                        </otherwise>
                    </choose>
                </if>
                <if test="endDate != null and endDate != ''">
                    <choose>
                        <when test="tbl == 'msg_queue'">
                            AND REQUEST_TIME <![CDATA[<]]> DATE_ADD(#{endDate}, INTERVAL 1 DAY)
                        </when>
                        <otherwise>
                            AND SAVE_TIME <![CDATA[<]]> DATE_ADD(#{endDate}, INTERVAL 1 DAY)
                        </otherwise>
                    </choose>
                </if>
                <if test="userId != null and userId != ''">
                    AND EXT_COL3 = #{userId}
                </if>
                <if test="userIds != null and userIds.size() > 0">
                    AND EXT_COL3 IN
                    <foreach collection="userIds" item="uid" open="(" separator="," close=")">
                        #{uid}
                    </foreach>
                </if>
            </foreach>
        ) t
        GROUP BY t.userId
        ORDER BY t.userId
    </select>

</mapper>
